.footerlinks {
    color: #ffffff;
/*no need of styling of links, no underline or anything*/
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800;
    }


.homeInfo {
    
    height: auto;
    font-size: 80px;
    margin: 100px 20% 50px 20%;
    text-decoration: none;
}
